__pycache__/distributive.cpython-39.pyc
__pycache__/game_data.cpython-39.pyc
__pycache__/genetic.cpython-39.pyc
__pycache__/neural_network.cpython-39.pyc
__pycache__/output.cpython-39.pyc
__pycache__/player.cpython-39.pyc
